body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.services {
    font-size: 36px;
    font-weight: 700;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.studio {
    color: #2e2f42;
}

.link_webstudio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.link_webstudio:hover {
    color: #404bbf;
}

.link_webstudio:focus {
    color: #404bbf;
}

address {
    font-style: normal;
}

.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts:hover {
    color: #404bbf;
}

.contacts:focus {
    color: #404bbf;
}

.solutions {
    background-color: #2e2f42;
}

.title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.knopka {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer
}

.knopka:hover {
    background-color: #404BBF;
}

.knopka:focus {
    background-color: #404BBF;
}

.services-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.services-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 400;
}

.section-team {
    background-color: #F4F4FD;
}

.title-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.teammate {
    background-color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
}

.teammate-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.teammate-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 400;
}

.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    font-weight: 700;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 400;
}

.footer-p {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
}

.studio-footer {
 color: #f4f4fd;
}

.footer {
    background-color: #2e2f42;
}

.table {
    list-style: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

